[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
selenium = "*"
nums-from-string = "*"
allure-pytest = "*"
selenium-stealth = "*"
datetime = "*"
undetected-chromedriver = "*"
webdriver-manager = "*"
fake-useragent = "*"

[dev-packages]

[requires]
python_version = "3.8"
python_full_version = "3.8.2"
